{% extends 'dashboard/_partials/base.html'%}
{% block content %}
 <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="m-b-30">
                                <button id="addToTable" class="btn btn-primary waves-effect waves-light">Add <i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <table class="table table-striped" id="datatable-editable">
                            <thead>
                                <tr>
                                    <th>Nomi</th>
                                    <th>Narxi</th>
                                    <th>Kategoriyasi</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                           <tbody>
                           {% for item in items %}
                           <tr class="{% if forloop.counter|divisibleby:2 %}gradeX{% else %}gradeC{% endif %}">
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.category_id }}</td>
                                    <td class="actions">
                                        <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                                        <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                                        <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                        <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                           {% endfor %}
                           </tbody>
                        </table>
                    </div>
                </div>
                <!-- end: panel body -->

            </div> <!-- end panel -->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
 </div>
{% endblock %}